
@import 'https://fonts.googleapis.com/css?family=Abhaya+Libre:600';


body
{ background-image:
  url("http://www.wallpaperhi.com/thumbnails/detail/20120224/outer%20space%20galaxies%201920x1200%20wallpaper_www.wallpaperhi.com_41.jpg");
}
h2{
  background-color:skyblue;
  color: : white;
  font-family: serif;}
p{background-color:slateblue;
  color:white;
  font-family: 'Abhaya Libre', serif;}
